POSTGRES_USER=monitoring
# Добавьте пароль, для пользователя в БД
POSTGRES_PASSWORD=
POSTGRES_DB=monitoring
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5435
ADMIN_USERNAME=admin
# Добавьте пароль, для создания первого админа на сайте
ADMIN_PASSWORD=
SESSION_HOURS=12
RETENTION_DAYS=7
CLEANUP_INTERVAL_SECONDS=60
ONLINE_TIMEOUT_SECONDS=180
# Адрес фронтенда 
CORS_ORIGINS=["http://localhost:5173"]
BACKEND_PORT=8000
# Путь к отдельному репозиторию фронтенда относительно docker-compose.yaml
FRONTEND_CONTEXT=../../Frontend/monitoring-service
FRONTEND_IMAGE=monitoring-frontend:local
FRONTEND_PORT=8080
# Для доступа с других компьютеров можно указать 0.0.0.0
FRONTEND_BIND_HOST=127.0.0.1
